<mat-button-toggle-group [value]="currentTemperatureUnit">
  <mat-button-toggle (click)="updateUnits.emit(temperatureScale.CELSIUS)"
                     [value]="temperatureScale.CELSIUS"
                     aria-label="Celsius">
    C&deg;
  </mat-button-toggle>

  <mat-button-toggle (click)="updateUnits.emit(temperatureScale.FAHRENHEIT)"
                     [value]="temperatureScale.FAHRENHEIT"
                     aria-label="Fahrenheit">
    F&deg;
  </mat-button-toggle>
</mat-button-toggle-group>
