<mat-button-toggle-group class="toggle"
                         [value]="currentTemperatureUnit">
  <mat-button-toggle (click)="newTemperatureUnit.emit(temperatureScale.CELSIUS)"
                     [value]="temperatureScale.CELSIUS"
                     aria-label="Celsius">
    C&deg;
  </mat-button-toggle>

  <mat-button-toggle (click)="newTemperatureUnit.emit(temperatureScale.FAHRENHEIT)"
                     [value]="temperatureScale.FAHRENHEIT"
                     aria-label="Fahrenheit">
    F&deg;
  </mat-button-toggle>
</mat-button-toggle-group>
