<mat-card class="daily-forecast">
  <mat-card-title>
    {{weatherLocation.description}}
  </mat-card-title>

  <mat-card-subtitle>
    {{weatherLocation.secondaryDescription}}
  </mat-card-subtitle>

  <mat-card-content>
    <div class="daily-forecast__main-content">
      <div>
        {{currentPartition.main.temp | convertKelvinTo : temperatureUnit}}&deg;
      </div>

      <div>
        <fa-icon [icon]="openWeatherToFontAwesome[currentPartition.weather[0]?.icon]"></fa-icon>
      </div>

      <div class="daily-forecast__condition-description">
        {{currentPartition.weather[0]?.description}}
      </div>
    </div>

    <div class="daily-forecast__secondary-content">
      <p>
        {{currentPartition.dt_txt | date : 'EEEE, MMMM d, HH:mm'}}
      </p>
      <p>Humidity: {{currentPartition.main.humidity}}%</p>
      <p>Pressure: {{currentPartition.main.pressure}}</p>
      <p>Wind: {{currentPartition.wind.speed}}m/s at {{currentPartition.wind.deg}}&deg;</p>
    </div>

    <div class="daily-forecast__partitions-container">
      <mat-button-toggle-group [value]="selectedPartitionIndex"
                               class="daily-forecast__partitions">
        <mat-button-toggle *ngFor="let partition of _dailyForecast.threeHourPartitions; let i = index"
                           (click)="currentPartition = _dailyForecast.threeHourPartitions[i]"
                           [value]="i"
                           [attr.aria-label]="partition.dt_txt"
                           class="daily-forecast__partition-toggle">
          <p>
            {{partition.dt_txt | date : 'HH:mm'}}
          </p>

          <fa-icon [icon]="openWeatherToFontAwesome[partition.weather[0].icon]"></fa-icon>

          <p>
            {{partition.main.temp | convertKelvinTo : temperatureUnit}}&deg;
          </p>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-card-content>
</mat-card>
