<mat-card>
  <mat-card-title>
    {{weatherLocation.description}}
  </mat-card-title>

  <mat-card-subtitle>
    {{weatherLocation.secondaryDescription}}
  </mat-card-subtitle>

  <mat-card-content>
    <div>
      {{currentThreeHourPartition.dt_txt | date : 'EEEE, MMMM d, HH:mm'}}
    </div>

    <div *ngIf="currentThreeHourPartition.weather?.length">
      {{currentThreeHourPartition.weather[0]?.description}}
    </div>

    <div>
      <img *ngIf="currentThreeHourPartition.weather.length"
           [src]="'http://openweathermap.org/img/wn/' + currentThreeHourPartition.weather[0].icon + '@2x.png'"
           [alt]="currentThreeHourPartition.weather[0]?.description"
           class="weather-condition-icon">
    </div>

    <div>
      {{currentThreeHourPartition.main.temp | convertKelvinTo : temperatureUnit | number : '1.0-0'}}&deg;
    </div>

    <div>
      Humidity:
      {{currentThreeHourPartition.main.humidity}}%
    </div>

    <div class="hourly-forecast">
      <mat-button-toggle-group class="toggle"
                               [value]="selectedPartitionIndex">
        <mat-button-toggle *ngFor="let partition of _dailyForecast.threeHourPartitions; let i = index"
                           (click)="currentThreeHourPartition = _dailyForecast.threeHourPartitions[i]"
                           [value]="i"
                           [attr.aria-label]="partition.dt_txt">
          <p>
            {{partition.dt_txt | date : 'HH:mm'}}
          </p>

          <img *ngIf="partition.weather.length"
               [src]="'http://openweathermap.org/img/wn/' + partition.weather[0].icon + '@2x.png'"
               [alt]="partition.weather[0]?.description">
          <p>
            {{partition.main.temp | convertKelvinTo : temperatureUnit | number : '1.0-0'}}&deg;
          </p>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-card-content>
</mat-card>
