:host {
  display: block;

  .daily-forecast {
    &__main-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 2rem 0;
      font-size: 3rem;
    }

    &__secondary-content {
      margin-bottom: 2rem;
      color: rgba(0,0,0,.54);
      font-size: 1rem;
    }

    &__condition-description {
      text-transform: capitalize;
      max-width: 33%;
      font-size: 1.5rem;
    }

    &__partitions-container {
      width: 100%;
      max-width: 100%;
      overflow-y: scroll;
    }

    &__partitions {
      min-width: 100%;
      box-sizing: border-box;

      p {
        margin: 0;
        line-height: 2.4rem;
      }

      fa-icon {
        font-size: 1rem;
      }
    }

    &__partition-toggle {
      // Take 1/8 of the available width.
      width: 100 / 8 * 1%;
      min-width: 60px;
    }
  }
}
