:host {
  display: block;

  table {
    width: 100%;
  }

  .weather-condition-icon {
    width: 40px;
  }

  tr {
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }

    &.selected {
      background: #e0e0e0;
    }
  }
}
