:host {
  display: block;

  .upcoming-days {
    width: 100%;
  }

  tr {
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }

    &.selected {
      background: #e0e0e0;
    }
  }
}
