<mat-toolbar class="location-search">
  <form class="search-form">
    <mat-form-field class="city-form-field">
      <input [matAutocomplete]="auto"
             [formControl]="placeControl"
             #placeInput
             name="city"
             matInput
             placeholder="Place or city"
             aria-label="City">
      <mat-autocomplete (optionSelected)="onOptionSelected($event)"
                        #auto="matAutocomplete">
        <mat-option *ngFor="let place of predictions; trackBy: trackByFunction"
                    [value]="place.description">
          <span>{{place.description}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-toolbar>
