<app-location-search
  (selectWeatherLocation)="updateWeatherLocation($event)">
</app-location-search>

<main>
  <mat-progress-bar
    *ngIf="isLoadingForecast"
    mode="indeterminate">
  </mat-progress-bar>

  <app-no-content
    *ngIf="!isLoadingForecast && !weatherForecast?.length">
  </app-no-content>

  <ng-container *ngIf="!isLoadingForecast && weatherForecast?.length">
    <app-daily-forecast *ngIf="weatherForecast"
      [weatherLocation]="weatherLocation"
      [dailyForecast]="weatherForecast[selectedDayIndex]"
      [temperatureUnit]="temperatureUnit">
    </app-daily-forecast>

    <app-upcoming-days-forecast
      [temperatureUnit]="temperatureUnit"
      [upcomingDaysForecast]="weatherForecast"
      (selectDay)="updateSelectedDay($event)">
    </app-upcoming-days-forecast>

    <app-temperature-toggle
      [currentTemperatureUnit]="temperatureUnit"
      (updateUnits)="updateTemperatureUnits($event)">
    </app-temperature-toggle>
  </ng-container>
</main>
