<app-location-search
  (selectWeatherLocation)="updateWeatherLocation($event)">
</app-location-search>

<main>
  <mat-progress-bar
    *ngIf="isLoadingForecast"
    mode="indeterminate">
  </mat-progress-bar>

  <ng-container *ngIf="!isLoadingForecast && weatherForecast?.length">
    <app-daily-forecast
      [weatherLocation]="weatherLocation"
      [temperatureUnit]="temperatureUnit"
      [dailyForecast]="selectedDayForecast">
    </app-daily-forecast>

    <app-upcoming-days-forecast
      [temperatureUnit]="temperatureUnit"
      [upcomingDaysForecast]="weatherForecast"
      [selectedDayIndex]="selectedDayIndex"
      (selectDay)="updateSelectedDay($event)">
    </app-upcoming-days-forecast>

    <app-temperature-toggle
      [currentTemperatureUnit]="temperatureUnit"
      (updateUnits)="updateTemperatureUnits($event)">
    </app-temperature-toggle>
  </ng-container>
</main>
