:host {
  --main-content-max-width: 600px;

  main {
    max-width: var(--main-content-max-width);
    margin: 0 auto;
    padding: 1rem;
  }

  app-daily-forecast {
    margin: 1rem 0 2em;
  }

  app-temperature-toggle {
    display: flex;
    justify-content: center;
    margin: 1rem 0 4rem;
  }
}
