<app-location-search
  (selectWeatherLocation)="updateWeatherLocation($event)">
</app-location-search>

<main>
  <mat-progress-bar
    *ngIf="isLoadingForecast"
    mode="indeterminate">
  </mat-progress-bar>

  <ng-container *ngIf="!isLoadingForecast && currentForecast?.length">
    <app-daily-forecast
      [currentWeatherLocation]="currentWeatherLocation"
      [currentTemperatureUnit]="currentTemperatureUnit"
      [forecast]="currentForecast[0]">
    </app-daily-forecast>

    <app-upcoming-days-forecast
      [currentTemperatureUnit]="currentTemperatureUnit"
      [upcomingDaysForecast]="currentForecast.slice(1)">
    </app-upcoming-days-forecast>

    <app-temperature-toggle
      [currentTemperatureUnit]="currentTemperatureUnit"
      (newTemperatureUnit)="updateCurrentUnit($event)">
    </app-temperature-toggle>
  </ng-container>
</main>
